# Ignorer tous les fichiers par défaut
*

#schéma-bloc
!Schéma-bloc.drawio


#projet vivado
!vitis/
!vitis/*
!vivado

# Ne pas ignorer les répertoires c_code, lib et src
!vitis/c_code/
!vitis/c_code/lib/
!vitis/c_code/src/

# Ne pas ignorer tous les fichiers dans les répertoires lib et src
!vitis/c_code/lib/**
!vitis/c_code/src/**

# Ne pas ignorer le Makefile
!vitis/c_code/Makefile

!vitis/c_code/README.md