# Ignorer tous les fichiers par défaut
*

# Ne pas ignorer les répertoires c_code, lib et src
!c_code/
!c_code/lib/
!c_code/src/

# Ne pas ignorer tous les fichiers dans les répertoires lib et src
!c_code/lib/**
!c_code/src/**

# Ne pas ignorer le Makefile
!c_code/Makefile